body{
    margin: 0px;
}
* {
    box-sizing: border-box;
  }
.iM{
    height: 700px;
    width: 100%;
}

.nav{
    background-color: #ffffff;
  /*  margin-top: -705px; */
    width: 100%;
    height:40px;
    opacity: 0.9;
}
.Rooms , .Logo , .About, .contact {
  
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 5px;
    float: left;
    padding-top: 10px;
}
.Logo {
    background-color: #f44336;
    height: 100%;
    color: white;
    width: auto;
}
.Rooms:hover , .Logo:hover , .About:hover, .contact:hover,.Book_Now:hover{
    background-color:#cccccc;
    width: auto;
    height: 100%;
}
.Logo:hover{
    color: black;
}
.Book_Now{
    float: right;
    text-decoration: none;
    color: black;
    font-size: 20px; 
    padding-right: 10px;
   padding-top: 10px;

}

.Hotelname{
    background-color: #f44336;
    color: white;
    padding-top: 10px;
   margin-top: -570px; 
    margin-left: 50px;
    padding-left: 20px;
    width: 55%;
    height: 50px;
    opacity: 0.9;
}

#bett{
    margin-right: 10px;
}
.Form{
    background-color: white;
    padding-left: 20px;
    margin-top: -20px;
    margin-left: 50px;
    width: 55%;
    height: 250px;
    opacity: 0.9;
    padding-top: 10px;
}

#check_out{
padding-left: 10px;
}
.check_in{
    float: left;
}
.check1{
    padding: 10px;
    margin-top: 10px;
   border-style: solid; 
}
.check2{
    margin-left: 10px;
    padding: 10px;
    margin-top: 10px;
    border-style: solid;
}

.Adults{
     margin-right: 10px;
     margin-top: 20px;
     float: left; 
}
.check3,.check4{
    padding: 10px;
    margin-top: 20px; 
    padding-left: 130px;
    border-style: solid;
     
}
.search{
     background-color: #616161;
    color: white;
}
.search , .search2{
   padding: 10px;
    margin-top: 10px; 
    border: none;
    
}

h3{
    margin-top: 200px;
}
.left , .left2 , .left3 , .left4 , .left5 { 
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.left,.left2{
    width: 25%;
}
.check21{
   padding: 10px;
   margin-top: 10px;
   border-style: solid;
    width: 90%;
}
.left3 , .left4 ,.left5{
     width: 14%
}
.label{
    margin-left: 5px;
    width: 100%;
}
.kind ,.search2{
   
      padding: 10px;
    margin-top: 10px;
   border-style: solid;
    width: 70%;
} 
.search2{
    background-color: black;
    color: white; 
    height: 40px; 
}
/*
.search2{
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
      width: 90%;
} */
/*
.left5{
    margin-left:10px;
} */
.Room1{
     margin-left: 10px;
}
.Room2{
    margin-left: 10px;
    margin-top: 270px;
}
.BildS{
    width: 100%;
   height:auto;
   
 
} 
.Hotel{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(1, auto); 
         column-gap: 10px;
         margin: 10px;  
        min-height: 65vh;
}
.Singel{
    grid-column: 1/2;
         grid-row:  1/2;  
}
.Double{
    grid-column: 2/3;
         grid-row:  1/2;  
}
.Deluxe{
    grid-column: 3/4;
         grid-row:  1/2;  
}
.Singel , .Double , .Deluxe{
    background-color: #f1f1f1;
    width: 100%; 
}
.Beschreibung{
    padding-bottom: 10px;
    padding-left: 10px;
  margin-top: -200px;
}

.AboutV{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-template-rows: repeat(4, auto); 
         column-gap: 10px;
         margin: 10px;  
}

.AboutV img {
    width: 100%;
    height: 100%;
} 

.About1{
    grid-column: 1/2;
         grid-row:  1/4;  
    font-size: 30px;
    
}
.iMg{
    grid-column: 2/4;
         grid-row:  1/5;  
}
.Wahlen{
    
    background-color: black;
    height: 40px;
    width: 97%;
    color: white;
     border: none;
}

.uberfooter{
 
 text-align: center;
}
#M2{
    color: red;
    padding: 20px;
}
.wahrnung{
    height: 100px;
    background-color: #f44336;
    width: 98%;
    color: aliceblue;
    padding-top: 10px;
    padding-left: 10px;
    margin: 10px;
   font-size: 30px; 
}
.M3{
    color:#f38981;
}
.Kontakt2{
    float: left;
}
.Our{
    margin: 5px; 
     margin-top: -180px;
    font-size: 20px;
}

.N{
    margin-top: -40px;
    color: aliceblue;
     margin-left: 20px;
}

.vbild{
    display: grid;
         grid-template-columns: repeat(4, 1fr);
         grid-template-rows: repeat(2, auto);
         min-height: 100vh; 
         column-gap: 10px;
         grid-row-gap: 10px;
         margin: 10px;
}
.vbild img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Sorgt für gleichmäßige Skalierung */

}


.b1{
         grid-column: 1/3;
         grid-row:  1/3;    
}


.b2{
        grid-column: 3/4;
         grid-row:  1/2;  
   }

.b3{
        grid-column: 4/5;
         grid-row:  1/2;  
   }

.b4{
        grid-column: 3/4;
         grid-row:  2/3;  
   }

.b5{
        grid-column: 4/5;
         grid-row:  2/3;  
   }
#M5{
    color: red;
}
.Footer{
    background-color: black;
    width: 100%px;
    height: 200px;
    color: white;
    text-align: center;
    padding-top: 50px;
    margin: 0px;
}
#i:hover{
   opacity:0.5; 
}
.w3{
    color: white;
    text-decoration: none;
}
.w3:hover{
    color: aquamarine;
}
.kontakt{
    background-color: #606060;
    height: 250px;
    padding-left: 20px; 
    padding-top: 10px;
    margin: 0px;
    width: 100%;
}
.kontakt:hover{
    background-color: black;
    color: white;
}
.input{
    height: 40px;
    width: 97%;
    margin-top: 10px;
}

.button{
    height: 40px;
    width: 90px;
    margin-top: 10px;
    background-color: #f38981;
      border: none;
}
.kontakt2{
    margin-left: 20px;
}
.button2{
    background-color: black;
    height: 50px;
    width: 170px;
    color: white;
    border: none;
}
.button2:hover , button:hover , .Wahlen:hover , .search:hover{
   background-color: #cccccc;
    color: black;
    border: none;
}

 /******************************************************************/

@media only screen and (max-width:900px){
 .AboutV{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(4, auto); 
         column-gap: 10px;
         margin: 10px;  
}
.AboutV img {
    width: 100%;
    height: 100%;
}

.About1{
    grid-column: 1/2;
         grid-row:  1/2;  
    font-size: 30px;
    
}
.iMg{
    grid-column: 1/2;
         grid-row:  2/4;  
}

}
 /******************************************************************/


@media only screen and (max-width:700px) { 

    .nav{
        background-color:#f1f1f1;
        height: 237px;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
.iM{
    height: 700px;
    width: 100%;
    margin-top:0px;
}
    .Rooms , .Logo , .About, .contact {
  float: none;
  display: block;
   padding: 20px;     
   margin: 0px;
   padding-top: 10px;
}
    .Logo {
    padding-left: 0px;
    width: auto;
    }
   .Rooms:hover,.Logo:hover ,.About:hover, .contact:hover{
        background-color: #cccccc;
        height: 40px;
        width: 100%;
        padding-left: -10px;
    }
    .Book_Now:hover{
        background-color:#cccccc;
        height: 40px;
        width: 100%;
       display: inline-block;
        margin-left: 0px;
    } 
 .Book_Now{
     float: none;
     margin-left: 5px;
    padding-bottom: 10px;
    }
    .Logo{
        background-color: #f44336;
        height: 40px;
        width: 100%;
        color: white;
    }
    .Hotelname{
    width: 90%;
    margin-top: -600px;
        margin-left: 15px;
        
}
    .Form{
    width: 90%;
    height: 420px;
        margin-left: 15px;
}
    
    .check_in , #check_out , .Adults{
        float: none;
    }
    #check_out{
        padding-left: 0px;
        margin-top: 10px;
    } 
    .check2{
        margin-left: 0px;
    }
    .check1 , .check2{
        width: 90%;
    }
    .check3 , .check4{
        width: 90%;
        padding-left: 10px;
    }
  
    .check21 , .kind , .search2{
        width: 99%
    }
    .search2{
        width: 99%;
    }

    #M2{
        padding: 10px;
    }
     .Room2{
        margin-top: 130px;
    }
    
    .left ,.left2, .left3 , .left4 ,.left5{
          width: 96% ;
          float: none;
          margin: 15px;
    } 
    .Hotel{
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(3, 1fr); 
}
    

.Singel{
    grid-column: 1/2;
         grid-row:  1/2;  
}
.Double{
    grid-column: 1/2;
         grid-row:  2/3;  
}
.Deluxe{
    grid-column: 1/2;
         grid-row:  3/4;  
}
    .iMg{
        
      margin-left: 15px;  
    }
    
   
    .uberfooter{
        display: block; 
    }
    .wahrnung{
        height: 150px;
    }
    .Our{
        margin-left:15px ;
    }
    .vbild{
    display: grid;
         grid-template-columns: repeat(1, 1fr);
         grid-template-rows: repeat(5, auto);
         min-height: 100vh; 
         column-gap: 10px;
         grid-row-gap: 15px;
         margin: 15px;
}
  .b1{
         grid-column: 1/2;
         grid-row:  1/2;    
}


.b2{
        grid-column: 1/2;
         grid-row:  2/3;  
   }

.b3{
        grid-column: 1/2;
         grid-row:  3/4;  
   }

.b4{
        grid-column: 1/2;
         grid-row:  4/5;  
   }

.b5{
        grid-column: 1/2;
         grid-row:  5/6;  
   }  
    .kontakt ,.Footer {
        margin: 0px;
    }
    
    
}
 
    /*********************************/
    
    @media only screen and (max-width:390px){
        * {
            box-sizing: border-box;
          }
body{
    background-color: #cccccc;
    box-sizing: 0px;
}
.Logo{
    width: auto;
}
.uberfooter{
   text-align: center;
}
#M2{
    width: 100%;
}
.search2{
    width: 100%;
    border: none;
}
.wahrnung{
    height: 200px;
}
.kontakt{
    height: 300px;
}
    }